.post-meta {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.blog-header {
    background-color: rgba(72, 198, 202, 0.424);
    padding-top: 1%;
    padding-bottom: 2%;
    z-index: 2000;
    height: 100%;
}



.blog-parent {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: center;
}

.dash {
    display: inline-block;
    width: 50px;
    border-top: 1px solid #ffffff;
}

.next-articles {
    display: flex;
    justify-content: space-between;
}

.next-articles a {
    text-decoration: none;
    text-decoration-color: none;
}