.footer {
    display: flex;
    background: rgb(23, 21, 21);
    justify-content: space-between;
    align-content: center;
    padding: 20px
}

.mail {
    display: flex;
    align-items: center;
    color: white;
    font-size: 18px;
    font-weight: 200;
    border-radius: 4px;


}


.mail svg {
    margin: 5px;
}

.footer h4 {
    color: #fff !important;
    font-weight: 300;
    align-self: center;
}

@media only screen and (max-width: 549px) {

    footer {
        display: flex;
        flex-direction: column;
    }

    .mail {
        justify-content: center;
    }
}


@media (max-width: 640px - 1px) {
    .notice-container {
        justify-content: space-around;
    }
}

.notice-container h4 {
    text-align: center;
    margin: 0;
}